// Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500");

// Variables
@import "variables";
@import "mixins";

body {
    margin: 0;
    color: $font-color;
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: 500;
    position: static;
    min-height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.navbar-top {
    height: 60px;
    background: #ffffff;
    font-size: 0;
    @include box-shadow(0 3px 6px 0 rgba(0, 0, 0, 0.05));
    border-bottom: 1px solid $border-color;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;

    .navbar-top-left {
        width: 50%;
        height: 60px;
        display: inline-block;
        vertical-align: middle;

        .brand-logo {
            padding: 10px;
        }
    }

    .navbar-top-right {
        width: 50%;
        height: 60px;
        text-align: right;
        display: inline-block;
        vertical-align: middle;

        .profile-info {
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            min-width: 50px;
            position: relative;
            padding: 12px 0px;
            margin: 0px 25px 0px 30px;
            font-size: 15px;
            cursor: pointer;
            position: relative;

            .dropdown-list {
                top: 63px;
            }

            .name {
                color: #000311;
                display: block;
                text-align: left;
            }
            .role {
                font-size: 14px;
                color: #8e8e8e;
                display: block;
                text-align: left;
            }

            i.icon {
                margin-left: 10px;
            }
        }
    }
}

.navbar-left {
    position: fixed;
    left: 0;
    top: 60px;
    width: 90px;
    padding-top: 20px;
    border-right: 1px solid rgba(162, 162, 162, 0.2);
    height: auto;
    bottom: 0;
    z-index: 2;

    ul.menubar {
        // padding-bottom: 60px;

        li.menu-item {
            padding: 10px 5px;
            font-size: 11px;
            text-align: center;
            text-transform: uppercase;

            a {
                color: #a2a2a2;
            }

            &.active {
                a {
                    color: #0041ff;
                }
            }
        }
    }

    // .open-nav-aside {
    //     position: fixed;
    //     bottom: 0;
    //     left: 0;
    //     width: 90px;
    //     padding: 18px;
    //     text-align: center;
    //     border: 1px solid $border-color;

    //     .icon {
    //         height: 24px;
    //         width: 24px;
    //     }
    // }
}

.content-container {
    padding-left: 90px;
    position: absolute;
    margin-top: 60px;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0px;
    height: calc(100% - 60px);
    width: 100%;

    .inner-section {
        height: 100%;
    }

    .aside-nav {
        width: 280px;
        position: fixed;
        top: 60px;
        bottom: 0;
        border-right: 1px solid $border-color;
        background: $background-color;
        padding-top: 10px;
        padding-bottom: 10px;
        z-index: 4;

        ul {
            overflow-y: auto;
            height: 90%;
        }

        a {
            padding: 15px;
            display: block;
            color: #000311;
        }

        .active {
            a {
                background: #ffffff;
                border-top: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
            }

            i {
                float: right;
            }
        }
    }

    .content-wrapper {
        padding: 25px 25px 25px 25px;
        margin-left: 305px;
    }

    .content {
        margin-top: 25px;

        &.full-page {
            padding: 25px;
        }

        .page-header {
            display: inline-block;
            margin-bottom: 20px;
            width: 100%;

            .page-title {
                float: left;

                .back-link {
                    float: left;
                    margin-right: 10px;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    margin-top: 5px;
                }

                h1 {
                    margin-bottom: 0;
                    vertical-align: middle;
                    display: inline-block;
                    line-height: initial;
                }
            }

            .page-action {
                float: right;

                * {
                    display: inline-block;
                }

                a {
                    margin-left: 25px;
                }
            }

            .control-group {
                width: 180px;
                display: inline-block;
                margin-bottom: 0;
                margin-left: 20px;
            }

            .control {
                width: 100%;
                margin: 0;
            }
        }

        .page-content {
            width: 100%;
            display: inline-block;
        }
    }
}

.control-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 750px;

    .control {
        background: #fff;
        border: 2px solid #C7C7C7;
        @include border-radius(3px);
        width: 150px;
        height: 36px;
        display: inline-block;
        vertical-align: middle;
        transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        padding: 0px 10px;
        font-size: 15px;

        &:focus {
            border-color: #0041FF;
        }
    }

    .icon:hover {
        cursor: pointer;
    }

    .control-group::last-child {
        margin-right: 0px;
    }
}

.boolean-control-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 750px;

    .control-group {
        width: 200px;
    }
}

.control-group {
    label {
        width: 70%;

        .locale {
            float: right;
            color: #8E8E8E;
        }
    }

    .mce-tinymce {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}


// admin dashboard css
.dashboard {

    .page-header {
        margin-bottom: 0 !important;
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
    }

    .page-content {
        margin-top: 15px;
    }

    .card {
        height: 445px;
        background: #FFFFFF;
        border: 1px solid #E7E7E7;
        box-shadow: 0 5px 10px 2px rgba(0,0,0,0.08);
        border-radius: 2px;
        padding: 20px 0px 0px 20px;

        .card-title {
            font-size: 14px;
            color: #A2A2A2;
            letter-spacing: -0.26px;
            text-transform: uppercase;
        }

        .card-info {
            width: 100%;
            height: 100%;
            display: inline-block;

            &.center {
                text-align: center;
            }

            ul {
                li {
                    border-bottom: 1px solid $border-color;
                    width: 100%;
                    display: inline-block;
                    padding: 10px 0;
                    position: relative;

                    .image {
                        height: 60px;
                        width: 60px;
                        float: left;
                        margin-right: 15px;

                        &.product {
                            background: #F2F2F2;
                        }

                        img {
                            width: 100%;
                        }
                    }

                    .description {
                        margin-top: 10px;

                        .name {
                            color: #0041FF;
                        }

                        .info {
                            color: #3A3A3A;
                            margin-top: 5px;
                        }
                    }

                    .icon.angle-right-icon {
                        position: absolute;
                        right: 30px;
                        top: 50%;
                        margin-top: -8px;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }

            .no-result-found {
                margin-top: 146px;

                p {
                    margin: 0;
                    color: #A2A2A2;
                }
            }
        }
    }

    .dashboard-stats {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        grid-auto-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 15px;

        .dashboard-card {
            height: 100px;
            background: #FFFFFF;
            border: 1px solid #E7E7E7;
            box-shadow: 0 5px 10px 2px rgba(0,0,0,0.08);
            border-radius: 5px;
            position: relative;
            padding: 15px;


            .title {
                font-size: 14px;
                color: #A2A2A2;
                text-transform: uppercase;
            }

            .data {
                padding-top: 13px;
                font-size: 32px;
                color: #0041FF;

                .progress {
                    font-size: 14px;
                    color: #8E8E8E;
                    float: right;
                    margin-top: -2px;

                    .icon {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .graph-stats {
        margin-top: 30px;
        width: 100%;
        display: inline-block;

        .left-card-container {
            float: left;
            width: 75%;
            padding-right: 9px;
        }

        .right-card-container {
            float: left;
            width: 25%;
            padding-left: 21px;
        }
    }

    .sale-stock {
        width: 100%;
        display: inline-block;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(435px, 1fr));
        grid-auto-rows: auto;
        grid-column-gap: 30px;
        grid-row-gap: 15px;
        margin-top: 30px;
    }
}
// admin dashboard css ends here

// customer oder css for admin start here
.sale-container {
    .sale-section {
        font-size: 16px;

        .secton-title {
            font-size: 18px;
            color: #8E8E8E;
            padding: 15px 0;
            border-bottom: 1px solid $border-color;
        }

        .section-content {
            display: block;
            padding: 20px 0;

            .row {
                display: block;
                padding: 7px 0;

                .title {
                    width: 200px;
                    color: $font-color;
                    letter-spacing: -0.26px;
                    display: inline-block;
                }

                .value {
                    color: $font-color;
                    letter-spacing: -0.26px;
                    display: inline-block;
                }
            }
        }
    }

    .table {
        .qty-row {
            display: block;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .radio {
            margin: 0;
        }
    }

    .sale-summary {
        margin-top: 2%;
        height: 130px;
        float: right;

        tr {

            td {
                padding: 5px 8px;
            }

            &.bold {
                font-weight: 600;
                font-size: 15px;
            }

            &.border {
                td {
                    border-bottom: 1px solid $border-color;
                }
            }
        }
    }
}

.stars {
    margin-top: 5px;

    .icon {
        width: 16px;
        height: 16px;
    }
}

.export-import {
    cursor: pointer;

    .export-icon, .import-icon {
        position: relative;
        top: 10px;
    }

    span {
        margin-left: 2px;
    }
}
// customer oder css for admin end here

//configuration css
.configuration-image {
    position: relative;
    height: 33px;
    width: 33px;
    top: 15px;
    border-radius: 3px;
    margin-right: 5px;
}

.download {
    position: relative;
    height: 24px !important;
    width: 24px !important;
    top: 12px;
    margin-right: 10px;
}

.aside-nav-toggle {
    height: 48px;
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid rgba(162, 162, 162, 0.2);

    .close-icon, .open-icon {
        position: absolute;
        cursor: pointer;
        left: 45%;
    }
}

.aside-nav-toggle.open {
    display: none;
}

.linked-product-search-result {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 0 9px 0 rgba(0, 0, 0, 0.16);
    z-index: 10;
    text-align: left;
    border-radius: 3px;
    background-color: #ffffff;
    width: 70%;
    max-height: 200px;
    overflow-y: auto;

    li {
        padding: 10px;
        border-bottom: 1px solid #e8e8e8;
        cursor: pointer;
    }
}

// css for rtl start here
.rtl {
    direction: rtl;

    .navbar-top {
        .navbar-top-right {
            text-align: left;

            .profile-info {
                margin: 0 30px 0 25px;

                i.icon {
                    margin-left: 0px;
                    margin-right: 10px;
                }
            }
        }
    }

    .navbar-left {
        border-left: 1px solid rgba(162, 162, 162, 0.2);
        border-right: none;
        left: calc(100% - 90px);
    }

    .content-container {
        padding-right: 90px;
        padding-left: 0px;

        .content .page-header {
            .page-title {
                float: right;
            }

            .page-action {
                float: left;

                a {
                    margin-left: 0px;
                }
            }

            .control-group {
                margin-right: 20px;
                margin-left: 0px;
            }

            .control-group.date {
                &::after {
                    margin-top: 6px;
                    position: absolute;
                    margin-right: -35px;
                }

                &:last-child {
                    margin-left: 0px;
                }
            }
        }

        .content-wrapper {
            padding: 25px 305px 25px 25px;
            margin-left: 0px;
        }

        .aside-nav .active i {
            float: left;
            transform: rotate(180deg);
        }
    }

    .dashboard {
        .dashboard-stats .dashboard-card .data span {
            float: left;
        }

        .card {
            padding: 20px 20px 0px 0px;

            .card-info ul li {
                .image {
                    float: right;
                    margin-right: 0px;
                    margin-left: 15px;
                }

                .icon.angle-right-icon {
                    left: 30px;
                    right: auto;
                    transform: rotate(180deg);
                }
            }
        }

        .graph-stats {
            .left-card-container {
                float: right;
                padding-right: 0px;
            }

            .right-card-container {
                float: right;
                padding-left: 0px;
                padding-right: 30px;
            }
        }
    }

    .sale-container .sale-summary {
        float: left;
    }

    // ui
    .grid-container {
        .filter-row-one .search-filter {
            border: 2px solid #C7C7C7;
            border-radius: 2px;

            .control {
                border: none;
                padding-right: 10px;
            }

            .icon-wrapper {
                border: none;
                padding-top: 2px;
                padding-right: 5px;
                border-right: 2px solid #C7C7C7;
                border-radius: 0px;
            }
        }

        .filter-row-two .filter-tag {
            .wrapper, .icon.cross-icon {
                margin-right: 10px;
                margin-left: 0px;
            }
        }

        .filter-row-one .dropdown-filters {
            right: unset;
            left: 25px;
        }
    }

    .grid-container .filter-wrapper .filter-row-one .dropdown-filters .more-filters .dropdown-toggle .dropdown-header span  {
       padding-right: 5px;
    }

    .grid-container .table tbody td.action a:first-child {
        margin-left: 10px;
        margin-right: 0px;
    }

    .table table {
        text-align: right;

        .massaction-remove {
            margin-right: 5px !important;
            margin-left: 10px;
        }

        .btn.btn-primary {
            margin-right: 10px !important;
        }
    }

    .dropdown-list.bottom-right {
        left: 0px;
        right: auto;
    }

    .dropdown-list .dropdown-container {
        text-align: right;
    }

    .accordian .accordian-header .icon {
        float: left;
    }

    .tree-container .tree-item {
        padding-right: 30px;

        .expand-icon ,.folder-icon {
            margin-left: 10px;
            margin-right: 0px;
        }
    }

    .tree-container >.tree-item {
        padding-right: 0px;
    }

    .radio .radio-view {
        margin-left: 5px;
    }

    .image-wrapper .image-item {
        margin-right: 0px;
        margin-left: 20px;

        .remove-image {
            margin-right: 0px;
        }
    }

    .control-group label.required::before {
        content: "*";
        color: #FC6868;
        font-weight: 700;
    }

    .control-group label.required::after {
        content: none;
    }

    .control-group label .locale {
        float: left;
    }

    .control-group.date {
        &::after {
            margin-top: 15px;
            position: absolute;
            margin-right: -35px;
        }
    }

    .pagination .page-item .icon {
        transform: rotate(180deg);
    }
}
// css for rtl end here

.pagination {
    margin-top: 30px;
}